<!-- feature.erb -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Didask</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body class="leading-normal tracking-normal text-gray-700 gradient" style="font-family: 'Source Sans Pro', sans-serif;">
    <div class="container mx-auto">
      <h1 class="my-4 text-5xl font-bold leading-tight text-gray-800"><%= @feature.feature_name %></h1>


      <div class='flex mb-4'>
        <h2 class="text-lg text-gray-800 font-bold mr-10">Currently linked to board:</h2>
        <form method='POST' action='/update_feature'>
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="feature[feature_name]" value="<%= @feature.feature_name %>">
          <select name="feature[board_id]" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 appearance-none leading-normal">
            <option value="" disabled selected>Select a board</option>
            <% for board in @boards %>
            <option value="<%= board['id'] %>" <%= "selected" if @feature.board_id == board['id'] %>><%= board['name'] %></option>
            <% end %>
          </select>
          <input type="submit" value="Change" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        </form>
      </div>

      <% unless @columns.nil? %>
        <h2 class="text-lg text-gray-800 font-bold">Columns</h2>

        <div class='mb-32'>
          <form method='POST' action='/update_feature'>
            <input type="hidden" name="_method" value="put">
            <fieldset class="border-gray-200 border-2 p-4">

              <legend>Update blocks</legend>
              <input type="hidden" name="feature[feature_name]" value="<%= @feature.feature_name %>">
              <div class="my-2 py-2 flex justify-between border-gray-200 border-b-2">
                <label for="feature[new_items_group]" class="font-bold text-lg">New item should go to:</label>
                <select name="feature[new_items_group]"  class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 appearance-none leading-normal">
                  <option value="nill">Select a group</option>
                  <% for group in @groups %>
                  <option value="<%= group['id'] %>" <%= "selected" if @feature.new_items_group == group['id'] %>><%= group['title'] %></option>
                  <% end %>
                </select>
              </div>

              <% for column in @columns %>
              <div class="flex justify-between">
                <div class="pr-3">
                  <p class=""><span class="font-bold">Title </span><%= column['title'] %></p>
                  <p class=""><span class="font-bold">Column ID </span><%= column['id'] %></p>
                  <p class=""><span class="font-bold">Type </span><%= column['type'] %></p>
                </div>
                <div>
                  <textarea name="feature[blocks][<%= column['id'] %>][modal_block]"  cols="50" rows="10" class="g-white focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 appearance-none leading-normal"><%= @feature.blocks[column['id']]['modal_block'] %></textarea>
                </div>
              </div>
              <% end %>

              <div class="flex justify-end mt-5">
                <input type="submit" value="Save" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded justify-end">
              </div>
            </fieldset>
          </form>
        </div>
      <% end %>

    </div>
  </body>
</html>
